.exploreFoods-main {
  /* Layout Properties */
top: -7px;
left: 0px;
width: 362px;
height: 647px;
/* UI Properties */
background: var(--unnamed-color-f5f5f5) 0% 0% no-repeat padding-box;
background: #F5F5F5 0% 0% no-repeat padding-box;
opacity: 1;
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
text-align: center;
}

.explore-by-ingredient-btn {
/* Layout Properties */
top: 182px;
left: 32px;
width: 297px;
height: 57px;
/* UI Properties */
background: #EE4028 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #00000047;
border-radius: 7px;
opacity: 1;
color: white;
font-size: 25px;
font-style: bold;
}

.explore-by-nationalities-btn {
  /* Layout Properties */
top: 269px;
left: 32px;
width: 297px;
height: 57px;
margin-top: 10px;
/* UI Properties */
background: #EE4028 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #00000047;
border-radius: 7px;
opacity: 1;
color: white;
font-size: 25px;
font-style: bold;
}

.surpise-me-btn {
  /* Layout Properties */
top: 356px;
left: 32px;
width: 297px;
height: 57px;
margin-top: 10px;
margin-left: 32px;
/* UI Properties */
background: #EE4028 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #00000047;
border-radius: 7px;
opacity: 1;
color: white;
font-size: 25px;
font-style: bold;
}