.card {
  display: flex;
  justify-content: space-evenly;
  margin: 2vh;
  width: 150px;
}

.card img {
  width: 100%;
}

.datails__card__recomendation {
  background-color: red;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
