.card_principal {
  background: #fb7968 0% 0% no-repeat padding-box;
  border: none;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2vh;
}


.datails__card__recomendation {
  background-color: red;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.details__start {
  display: flex;
  justify-content: center;
}

.datails__start__button {
  align-items: center;
  background-color: green;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  width: 360px;

}

.food_card {
  background: #fb7968 0% 0% no-repeat padding-box;
  border-radius: 5px;
  box-shadow: 0 4px 8px #262d2f78;
  height: 156px;
  margin-left: 10px;
  margin-top: 10px;
  opacity: 1;
  width: 166px;
}

.card_principal img {
  border-radius: 6px;
  height: 115px;
  opacity: 1;
  width: 140px;
}

.card_principal h3 {
  color: whitesmoke;
  letter-spacing: 1.08px;
  opacity: 1;
  padding-top: 5px;
  text-align: center;

}
