.card {
  display: flex;
  justify-content: space-evenly;
  margin: 2vh;
  width: 150px;
}

.card img {
  width: 100%;
}

.datails__card__recomendation {
  background-color: red;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.details__start {
  display: flex;
  justify-content: center;
}

.datails__start__button {
  align-items: center;
  background-color: green;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  width: 360px;

}
