.footer {
/* Layout Properties */
top: 568px;
left: 0px;
width: 360px;
height: 78px;
/* UI Properties */
background: #EE4028 0% 0% no-repeat padding-box;
border-radius: 7px;
opacity: 1;
/* border: 1px solid black; */
/* https://pt.stackoverflow.com/questions/421158/como-centralizar-os-elementos-dentro-de-uma-div */
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
text-align: center;
}

.footer-btn-1 {
/* Layout Properties */
top: 580px;
left: 10px;
width: 67px;
height: 49px;
/* UI Properties */
opacity: 1;
} 

.footer-btn-2 {
 /* Layout Properties */
top: 580px;
left: 148px;
width: 67px;
height: 49px;
/* UI Properties */
opacity: 1;
  } 

.footer-btn-3 {
  /* Layout Properties */
top: 580px;
left: 283px;
width: 67px;
height: 49px;
/* UI Properties */
opacity: 1;
}

/* footer {
  bottom: 0;
  position: fixed;
} */
